<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/feedback" routerLinkActive="active" class="nav-link">FeedbackList</a> <br>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/getfbbyid" routerLinkActive="active" class="nav-link">Find Feedback by id</a> <br>
            </li>
          </ul>
          <ul class="navbar-nav">
            <li class="nav-item">
              <a routerLink="/patientList" routerLinkActive="active" class="nav-link">Get patientList</a> <br>
            </li>
          </ul>
    </nav>
    <br>
    <div class="container">
        <router-outlet></router-outlet>
    </div>
    
<!-- <app-addfeedback></app-addfeedback> -->