<div style="text-align: center">
    <h1>Get your Feedback Details</h1>
    <h3>Enter your Feedback Id:</h3>
    <input #feedbackId type="number" name="feedbackId">
    <div class="col-10" *ngIf="feedbackerror">
        <span class="text text-danger">{{feedbackerror}}</span>
    </div>
    <button class="btn btn-info btn-sm" type="submit" (click)="getFeedback(feedbackId.value)">Get Feedback Details</button>
    <br>
    
    <div *ngIf= "feedback" [style.display]="feedback.feedbackId ? 'block': 'none'">
    <h1 >Details of Feedback with Id: {{feedback.feedbackId}}</h1>
    <h3 >Feedback Comment: {{feedback.feedbackComment}}</h3>
    <h3 >Feedback Rating: {{feedback.rating}}</h3>
    <h3 >PatientName: {{feedback.patient.patientName}}</h3>
    <!-- <h3 >Email Id: {{customer.email}}</h3>
    <h3 >Mobile Number: {{customer.mobile}}</h3> -->
    </div>
    </div>
